<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scanPeriod="60 seconds">

   <property name="LOG_PATTERN" value="%d %5p thread=[%thread] logger=%c{1} - %msg%n"/>

   <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
         <pattern>${LOG_PATTERN}</pattern>
      </encoder>
   </appender>

   <logger name="org.apache.tomcat">
      <appender-ref ref="console" additivity="false" level="debug"/>
   </logger>

   <logger name="org.apache.catalina">
      <appender-ref ref="console" additivity="false" level="debug"/>
   </logger>
</configuration>